.d-flex{
    display: flex;
    flex-wrap: wrap;
    
}
.fnt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
 }
 .red{
     color: red;
     transform: rotate(-25deg);
 }
#divWebPage{
    
    margin:100px;
}
#myImg{
    
    height:300px;
    width: 300px;
    background-size: cover;
    border: 3px solid black;
    
}
body{
    width:100%;
    height : 100%;
}
span{
    font-size: 25px;
    font-weight: bold;
    padding:40px;
}
input{
    width:30%;
}
